---
import "../styles/global.css";
import { languages } from "@/i18n/ui";
import { getLangFromUrl } from "@/i18n/utils";

import Header from "@/components/common/Header.astro";
import Footer from "@/components/common/Footer.astro";

interface Props {
  title: string;
  description?: string;
}

const { title, description = "UnibirdNepshore I.T. Solutions Pvt. Ltd." } =
  Astro.props;

const lang = getLangFromUrl(Astro.url);
---

<!doctype html>
<html lang={lang} class="scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="icon"
      type="image/svg+xml"
      href={import.meta.env.BASE_URL + "favicon.svg"}
    />
    <meta name="generator" content={Astro.generator} />

    <!-- Language alternates for SEO -->
    {
      Object.keys(languages).map((locale) => (
        <link
          rel="alternate"
          hreflang={locale}
          href={new URL(`${import.meta.env.BASE_URL}${locale}/`, Astro.site)}
        />
      ))
    }

    <title>{title}</title>
  </head>
  <body class="max-w-[2180px] w-full min-h-screen mx-auto">
    <Header />
    <slot />
    <Footer />
  </body>
</html>
